
<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Mhlongo's Restaurant</a>

  </nav>



  <!--Body-->
<div class=" container pt-4">
    <div class="row justify-content-center" pt-4>
          <h3 class="form-title p-4 text-primary">EMPLOYEES'S DETAILS</h3>
        <div class="col-sm-12">
            <!--Form to Add Employee's details-->
            <div class="form-group">
                <input class=" form-control " placeholder="Name" [(ngModel)]=" EmployeeName" type="text" name="name" id="inp1">  
            </div>
    
            <div class="form-group">
                <input id="Age" class=" form-control" placeholder="Surname" type="text" [(ngModel)]=" EmployeeSurname" name="surname">
            </div>
    
            <div class="form-group">
                <input id="Age" class=" form-control " placeholder="Age" type="number" [(ngModel)]="EmployeeAge" name="age">
            </div>
    
            <div class="form-group justify-content-center">
                <button type="submit" (click)="addEmployee()" class="btn btn-primary btn-lg">Add Employee</button>
            </div>
        </div>
    </div>  
    
    
    <div class="row">
        <div class=" col-sm-6 col-md-3 " *ngFor="let item of Employee">
            <div class="card" *ngIf="!item.Edit,else temp">
                <div class="card-body">
                  <h5 class="card-title">{{item.Name}} {{item.Surname}}</h5>
                  <p class="card-text">Age: {{item.Age}}</p>
                  <span>
                    <button type="submit" (click)="EditDetails(item)" class=" m-1 btn btn-primary btn-lg">Edit</button>
                    <button type="submit" (click)="DeleteDetails(item.id)" class="m-1 btn btn-danger btn-lg">Delete</button>
                 </span> 
                </div>
              </div>

              <ng-template #temp>
                <div class="card">  
                    <div class="card-body">
                               <h5 class="text-center card-title">Edit</h5>
                     <div class="row justify-content-center">
                         <div class="form-group">
                             <input class=" form-control  " placeholder="Name" [(ngModel)]="item.EditName" type="text" name="EditName" id="inp1">  
                         </div>
                         
                         <div class="form-group">
                             <input id="Age" class=" form-control " placeholder="Surname" type="text" [(ngModel)]="item.EditSurname" name="EditSurname">
                         </div>
             
                         <div class="form-group">
                             <input id="Age" class=" form-control " placeholder="Age" type="number" [(ngModel)]="item.EditAge" name="EditAge">
                         </div>    
                         <div class="form-group">
                            <button type="submit" (click)="Update(item)" class="m-1 btn btn-primary btn-lg">Save</button>
                            <button type="submit" (click)="item.Edit=false" class="m-1 btn btn-primary btn-lg">Cancel</button>
                        </div>  
                      </div>
                    </div>  
                </div>   
            </ng-template>

        </div>
    </div>
</div> 

